body{
    font-family:"ANTON REGULAR";
}

hr{
    height: 3px;
}

h1{

    font-size: 3.4rem;
}
h2{
    font-size: 33px;
    font-family: ANTON REGULAR;


}
h6{
    font-weight: bold;
}
.row{
    box-sizing: border-box;
}
.divBackg{
    position: absolute;
    top: 110px;
    width: 100%;
    height: 100px;
    background: white;

}

.col{
    padding: 1.5rem;
}
.row{
    padding: 2rem 0;
}

.row button{
    margin-right: 20px;

}
button.btn.rounded-circle.col-2{
    height: 150px;
    width: 130px;
    border: solid white 10px;
    border-radius: 50%;
}
div.row{

}

div.row.justify-content-center{
    padding:0;
    margin:0;
    height: 180px;
}
span.badge{

    margin: 1px;
    margin-left: 5px;
}
p.float-left{
    font-size: x-small;
}
p.float-left , span.badge{
    margin-top: 4px;
}
p{
   font-family: 'ABEL REGULAR';
}
/*div.col-lg-6.float-left{*/
    /*height: 46px;*/
/*}*/